Code/QuanLiKhachHang/QuanLiKhachHang/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tblKhachHangs">
        <s:complexType />
      </s:element>
      <s:element name="tblKhachHangsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tblKhachHangsResult" type="tns:ArrayOfTblKhachHang" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTblKhachHang">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="tblKhachHang" nillable="true" type="tns:tblKhachHang" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="tblKhachHang">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MaKH" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NamSinh" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CMND" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DiemLuu" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DiemTichLuy" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LoaiKhachHang" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrangThai" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="tblKhachHangsSoapIn">
    <wsdl:part name="parameters" element="tns:tblKhachHangs" />
  </wsdl:message>
  <wsdl:message name="tblKhachHangsSoapOut">
    <wsdl:part name="parameters" element="tns:tblKhachHangsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="tblKhachHangs">
      <wsdl:input message="tns:tblKhachHangsSoapIn" />
      <wsdl:output message="tns:tblKhachHangsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tblKhachHangs">
      <soap:operation soapAction="http://tempuri.org/tblKhachHangs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tblKhachHangs">
      <soap12:operation soapAction="http://tempuri.org/tblKhachHangs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:49582/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:49582/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>